body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    z-index: 999;
}
.card > .bi {
    font-size: 3em;
}


@media (max-width: 768px) {
    footer {
        text-align: center;
        flex-direction: column;
    }
}