RewriteEngine on

# redirect all of the /public requests to /public folder
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^public/(.*)$ public/$1 [L]

# otherwise, redirect to index.php
RewriteRule ^ index.php